@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400;1,700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* p {
    font-size: 18px;
}

html {
    max-width: 100%;
}

body{
    max-width: 100%;
    background-color: #f5f5f5;
}
hr{
    width: 150px;
    color: rgb(63, 63, 63);
    height: 2px;
    border: 1px;
    border-radius: 200px;
    background-color: rgb(63, 63, 63);
    margin: auto;
    margin-top: 10px;
}
.hr-short{
    width: 100px;
    color: rgb(63, 63, 63);
    height: 2px;
    border: 1px;
    border-radius: 200px;
    background-color: rgb(63, 63, 63);
    margin: auto;
    margin-top: 10px;
}
.top-banner{
    /* background-color: rgb(71, 175, 61); */
    background-color: rgb(63, 63, 63);
    width: 100%;
    height: 90px;
    box-shadow: 0px 2px 5px#333;
    z-index: 100;
}
.logo{
    position: relative;
    left: 25px;
    width: 320px;

    background: rgb(63, 63, 63) url(img/HertyLogo_white.png);
    box-shadow: 0 4px 5px -2px rgb(63, 63, 63);
}
.nav-button{
    position: fixed;
    top: 15px;
    right: 25px;
    width: 55px;
    height: 55px;
    background: url(img/menu-wine.png);
    transform: rotate(270deg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100;
}
.nav-button.active{
    top: 15px;
    right: 25px;
    background: rgb(197, 197, 197) url(img/close.png);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    z-index: 100;
    cursor: pointer;
}
.nav-menu{
    top: -15px;
    right: -150%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu.active{
    position: fixed;
    right: 0px;
    transition: 0.5s;
    width: 100%;
    height: 110%;
    z-index: 1;
    transition: 0.5s;
    text-align: center;
    background-color: #f5f5f5;
}
.nav-menu ul li {
    list-style: none;
    line-height: 55px;
}
.nav-menu ul li a {
    text-decoration: none;
    font-size: 2em;
    color: rgb(63, 63, 63);
    font-weight: 400;
    letter-spacing: 2px;
}

.insta {
    max-width: 10%;
}

.main-container{
    margin: 150px 0px 0px 0px ;
    display: grid;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.main-container h1 {
    /* color: rgb(63, 63, 63); */
    /* background-color: rgb(71, 175, 61); */
    /* border: 2px rgb(63, 63, 63) solid; */
    border-radius: 50px;
    text-align: center;
    margin: 5px;
}
.main-container img {
    border: 2px rgb(63, 63, 63) solid;
    max-width: 500px;
    margin: 10px;
    margin-top: 50px;

    box-shadow: 3px 10px 25px rgb(117, 117, 117);
}
.center-text{
    margin: 20px;
}
.center-text-main{
    text-align: center;
    margin: 20px;
}
.container-2{
    text-align: center;
    max-width: 100%;
}
article {
    width: 100%;
    max-width: 100%;
    padding: 10px;
}
.map{
    width: 500px;
}
.container-3{
    display: flex;
    padding: 30px;
}
.container-3 img {
    margin-top: 0px;
    width: 150%;
    object-fit: contain;
    border: 0rem;
    vertical-align: middle;
}
.container-3 p {
    padding: 40px;
}
.phone {
    display: none;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
}
table td {
    padding: 20px;
}
.display-phone {
    display: none;
}

.ptable {
    /* width: 55%; */
}
.ptbody {
    text-align: center;
}



table.greyGridTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.greyGridTable td, table.greyGridTable th {
    /* border: 1px solid #FFFFFF; */
    padding: 10px 4px;
  }
  table.greyGridTable tbody td {
    font-size: 13px;
  }
  table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
  }
  table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
  }
  table.greyGridTable tfoot td {
    font-size: 14px;
  }




@media (max-width: 901px) {
    .logo{
        left: 10px;
        width: 140px;
    }
    .nav-button{ right: 10px;}
    .nav-button.active{ right: 10px;}
    .main-container { 
        margin: 20px 0px 0px 0px;
        display: grid;
        font-size: small;
        padding: 0;
    }
    .main-container img {
        border: rgb(63, 63, 63) solid;
        margin: 0px;
        margin-top: 20px;
        
        position: relative;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }
    .top-banner a{
        background-color: rgb(63, 63, 63);
    }
    .container-3{
        display: grid;
        padding: 0px;
    }
    .container-3 p {
        padding: 0px;
    }
    .phone {
        display: block;
    }
    .web {
        display: none;
    }
    .container-3 img {
        margin-top: 0px;
        width: 150%;
        object-fit: contain;
        border: 0rem;
        vertical-align: middle;
        max-width: 100%;
        padding: 0px;
    }
    .display-phone ul {
        text-align: center;
        list-style: none;
    }
    .center-text{
        text-align: center;
    }
    .display-phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .display-web {
        display: none;
    }
    /* #start-wingut{
        left: -10px;
    } */
}


